/********** Header **********/

header {
    position: absolute;
    height: 64px;
    left: 0px;
    right: 0px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DAD9DC;
}

.div-header {
    display: flex;
    margin: auto 172px auto 172px;
}

.logo-svg {
    width: 214px;
    height: 51px;
}

.nav {
    width: 783.94px;
    height: 50px;
    margin-left: 32px;
    align-items: center;
}

.separation:before {
    width: 1px;
    height: 2rem;
    content: "";
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #dad9dc;
}