@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0px;
}

/********** Header **********/

header {
    height: 64px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DAD9DC;
    margin-top: 0px;
}

.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6.5px 172px;
}

.logo-svg {
    display: flex;
    width: 214px;
    height: 51px;
}

nav {
    display: flex;
    width: 783.94px;
    height: 50px;
    margin-left: 32px;
    align-items: center;
    color: #271A38;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    gap: 64px;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 64px;
}

.nav-text-1 {
    display: flex;
    height: 26px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #271A38;
    text-decoration: none;
    gap: 2px;
}

nav ul li {
    position: relative;
}

nav ul li:not(:last-child)::after {
    position: absolute;
    width: 1px;
    height: 32px;
    content: "";
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #dad9dc;
}

.nav-text-2 {
    display: flex;
    height: 26px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #271A38;
    text-decoration: none;
}

.search {
    justify-content: end;
    height: 32px;
}

.nav-button {
    flex-direction: row;
    padding: 9px 16.0625px 9px 17px;
    background-color: transparent;
    color: #7451EB;
    height: 42px;
    margin-left: 16px;
    border: 1px solid #7451EB;
    border-radius: 4px;
    font-family: Inter, Inter-Bold;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 700;
}

/********** Home Banner **********/

.home-banner {
    height: 416px;
    background-color: #7451EB;
}

.home-banner-items {
    display: table;
    width: 720px;
    height: 336px;
    margin-left: 172px;
    padding-top: 40px;
}

.home-banner-text {
    display: table;
    color: #FFFAEE;
    font-family: 'Inter';
}

.home-banner-text-h1 {
    width: 519px;
    height: 50px;
    margin-top: 79px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.home-banner-text-p {
    width: 690.01px;
    height: 52px;
    margin-top: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.home-banner-buttons {
    display: flex;
    align-items: flex-start;
    margin-top: 16px;
}

.home-banner-button-white {
    flex-direction: row;
    padding: 9px 15.6094px 9px 16px;
    width: 231.61px;
    height: 42px;
    color: #7451EB;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05), 0px 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    border: 0px;
}

.home-banner-button-transparent {
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 16.9219px 9px 17px;
    background-color: transparent;
    width: 226.92px;
    height: 42px;
    border: 1px solid #FFFAEE;
    border-radius: 4px;
    margin-left: 32px;
    margin-right: 229px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFAEE;
    white-space: nowrap;
}

.img-home-banner {
    width: 416px;
    height: 416px;
    margin-left: 32px;
    margin-top: -254px;
}

/********** Banner 2 **********/

.banner-2 {
    display: flex;
    margin-left: 172px;
    margin-top: 24px;
    margin: 24px 172px 72px;
    text-align: center;
}

.banner-2-item1 {
    margin-left: 96px;
}

.banner-2-item1-text {
    margin-top: 16px;
    color: #271A38;
}

.banner-2-item1-text1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.banner-2-item1-text2 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.banner-2-item1-img1 {
    width: 240px;
    height: 240px;
}

/********** Banner 2 Elements 2 **********/

.banner-2-item2 {
    margin-left: 96px;
}

.banner-2-item2-text {
    color: #271A38;
    margin-top: 16px;
}

.banner-2-item2-text1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.banner-2-item2-text2 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.banner-2-item2-img1 {
    width: 240px;
    height: 240px;
}

/********** Banner 2 Elements 3 **********/

.banner-2-item3 {
    margin-left: 96px;
}

.banner-2-item3-text {
    margin-top: 16px;
    color: #271A38;
}

.banner-2-item3-text1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.banner-2-item3-text2 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.banner-2-item3-img1 {
    width: 240px;
    height: 240px;
}

/********** Banner Video**********/

.home-banner-video-background {
    display: flex;
    background-color: #FFFAEE;
}

.home-banner-video {
    display: flex;
    margin: 72px 172px;
}

.home-banner-video-text h1 {
    width: 451.7px;
    height: 45px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #FFFAEE;
    background-color: #8A76E8;
    text-align: center;
}

.home-banner-video-text p {
    max-width: 567.15px;
    height: 156px;
    margin-top: 17px;
    margin-right: 32.85px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #271A38;
}

.home-banner-video-text p a {
    color: #271A38;
}

.home-banner-video img {
    height: 319.5px;
    justify-content: flex-end;
}